
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stack Index</title>
</head>
<body>
    <div> 
        <ul>
            <!-- This button will Navigate to the stack controller and find "AddOne" method -->
            <li>
                <a href="@Url.Action("AddOne", "Stack")"
                   class="w3-bar-item w3-button">Add One Item to Stack</a>
            </li>
        </ul>
    </div>
</body>
</html>
